*{
    /* width: 100%;
    height: auto; */
	margin: 0;
	padding: 0;
}

.hero{
	width: 100%;
	height: 100vh;
	/* background: #000; */
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
	overflow: hidden;
}

.hero .cars{
	width: 300px;
	margin: 100px auto 0;
	overflow: visible;
	
}

.cars img{
	-webkit-box-reflect: below 20px linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));	
}

@media (max-width: 600px) {
	.hero .cars ul li img{
		width: 200px;
		height: auto;
		margin-bottom: 0;
	}
}

@media (max-width: 900px) {
	.hero .cars ul li img{
		width: 400px;
		height: auto;
		margin-bottom: 0;
	}
}


#gl{width: 500px; height: 200px;}