*{
    outline: none;

}

form input, label, button{
    background: linear-gradient(-135deg, #3895D3, #a714a2);
}

input{
    margin-left: 5px;
    width: 100%;
    background: white;
    padding: 30px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .1);
    border-radius: 10px;
}



/* hello */

#hpk-maxsize{
    margin-left: 300px;
    border-radius: 10px;
    width: 50%;
    height: 1000px;
    /* border: 2px solid #555; */
    border: none;

}

#rgb{
    width: 100%;
}

#hex{
    border: none;
    width: 100%;
    background-color: white;
    /* background-image: url(''); */
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background: linear-gradient(-135deg, #3895D3, #a714a2);
  }

#gl_dump{
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
}

@media (max-width: 700px) {
    #hpk-maxsize{
        width: 100%;
        margin-left: 0;
    }
    
}